AREyeGlasses/Packages/com.ptc.vuforia.engine-11.4.4.tgz
**/VuforiaConfiguration.asset
**/VuforiaConfiguration.asset.meta
*.sln
*.slnx
*.csproj
*.unityproj
.vs/
.vsconfig

.DS_Store
Thumbs.db

*.keystore
*.userkeystore
